*{
  margin: 0;
  padding: 0;
  margin-right: 0;
}



.section_1{
position: relative;
width: 100%;
height: 100%;
background: black;

}



.theme{
  color: rgb(255, 255, 255);
  font-family: Jost;
  font-size: 225px;
  font-weight: 400;
  line-height: 170px;
  letter-spacing: 0%;
  text-align: left;
  z-index: 2;
  position: absolute;
  width: 50%;
  height: 189px;
  top: 65%;
  left: 6%;
  
  
  }  



.section_2{
width: 100%;
height: 1080px;
background-color: black;

}


.control_2{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
}


.gradient_2{
  width: 100%;
  height: 30%;
  z-index: 45;
  background-image: linear-gradient(180deg, transparent, black);

  }
  






.gradient{
  position: absolute;
  width: 1920px;
  height: 349px;
  left: 0px;
  top: 731px;
  z-index: 3;
  border: 1px solid red;
  }
  


.test_1{
display: flex;
justify-content: space-evenly;
flex-direction: row;
flex-wrap: nowrap;
padding-top: 253px;

   }





.introduction_1{
margin-left: 20px;
margin-top: 100px;
width: 697px;
height: auto;
color: rgb(255, 255, 255);
font-family: Jost;
font-size: 50px;
font-weight: 300;
line-height: 72px;
letter-spacing: 0%;
text-align: left;
opacity: 0;

}



.introduction_2{
padding-top: 135px;
width: 662px;
height: auto;
color: rgb(255, 255, 255);
font-family: Jost;
font-size: 50px;
font-weight: 300;
line-height: 72px;
letter-spacing: 0%;
text-align: left;
opacity: 0;
}


.section_3{
width: 100%px;
height: 5320px;
background: black;
}

.test_2{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
     }

.type_nebulat{
margin-top: 350px;
width: 546px;
height: auto;
color: rgb(255, 255, 255);
font-family: Jost;
font-size: 70px;
font-weight: 300;
line-height: 101px;
letter-spacing: 0%;
text-align: left;
}



.test_3{
  margin-top: 145px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  align-items: center;
  

}

.test_8{
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  align-items: center;
}




.control_1{
display: flex;
flex-direction: row;
flex-wrap: nowrap;
}

.dark_nebulat{
margin-bottom: 52px;
width: 431px;
height: auto;
color: rgb(255, 255, 255);
font-family: Jost;
font-size: 50px;
font-weight: 300;
line-height: 72px;
letter-spacing: 0%;
text-align: left;
opacity: 0;
}




.reflection_nebulat{
margin-bottom: 52px;
margin-left: 30px;
width: 613px;
height: auto;
color: rgb(255, 255, 255);
font-family: Jost;
font-size: 50px;
font-weight: 300;
line-height: 72px;
letter-spacing: 0%;
text-align: left;
opacity: 0;
}



.dark_nebula{
width: 826px;
height: 514px;
background-image: url(dark_nebula.png);
opacity: 0;

}

.reflective_nebula{
width: 826px;
height: 514px;

background-image: url(reflective_nebula.png);
opacity: 0;

}


.dark_nebula_caption{
width: 335px;
height: auto;
margin-top: 23px;
color: rgba(255, 255, 255, 0.5);
font-family: Alegreya Sans;
font-style: italic;
font-size: 30px;
font-weight: 300;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
opacity: 0;
}




.reflective_nebula_caption_1{
margin-top: 23px;
width: 203px;
height: auto;color: rgba(255, 255, 255, 0.5);
font-family: Alegreya Sans;
font-style: italic;
font-size: 30px;
font-weight: 300;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
opacity: 0;
}


.reflective_nebula_caption_2{
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 26px;
font-weight: 300;
line-height: 30px;
letter-spacing: 0%;
text-align: left; 
opacity: 0;
}

.dark_nebula_information{
margin-top: 113px;
width: 716px;
height: auto;
color: rgb(255, 255, 255);
font-family: Jost;
font-size: 35px;
font-weight: 300;
line-height: 51px;
letter-spacing: 0%;
text-align: left;
opacity: 0;
}

.reflection_nebula_information{
margin-top: 105px;
width: 731px;
height: auto;
color: rgb(255, 255, 255);
font-family: Jost;
font-size: 35px;
font-weight: 300;
line-height: 51px;
letter-spacing: 0%;
text-align: left;
opacity: 0;
}


.emission_nebulat{
margin-top: 550px;
width: 637px;
height: auto;
color: rgb(255, 255, 255);
font-family: Jost;
font-size: 55px;
font-weight: 300;
line-height: 79px;
letter-spacing: 0%;
text-align: left;

}


.emission_nebula_of_Keel{
width: 826px;
height: 515px;
background-image: url(emission_nebula_of_Keel.png);
opacity: 0;
}




.emission_nebula_butterfly{
width: 826px;
height: 514px;
background-image: url(emission_nebula_butterfly.png);
opacity: 0;
}


.emission_nebula_of_Keel_caption{
margin-top: 23px;
width: 218px;
height: auto;
color: rgba(255, 255, 255, 0.5);
font-family: Alegreya Sans;
font-style: italic;
font-size: 30px;
font-weight: 300;
line-height: 31px;
letter-spacing: 0%;
text-align: left;
opacity: 0;
}


.emission_nebula_butterfly_caption{
margin-top: 23px;
width: 250px;
height: auto;
color: rgba(255, 255, 255, 0.5);
font-family: Alegreya Sans;
font-style: italic;
font-size: 30px;
font-weight: 300;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
opacity: 0;
}


.emission_nebula_of_Keel_information{
margin-top: 113px;
width: 724px;
height: auto;
color: rgb(255, 255, 255);
font-family: Jost;
font-size: 35px;
font-weight: 300;
line-height: 51px;
letter-spacing: 0%;
text-align: left;
opacity: 0;
}


.emission_nebula_butterfly_information{
margin-top: 113px;
width: 799px;
height: auto;
color: rgb(255, 255, 255);
font-family: Jost;
font-size: 35px;
font-weight: 300;
line-height: 51px;
letter-spacing: 0%;
text-align: left;
opacity: 0;
}

.test_4{
  margin-top: 145px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}


.nebula_created_by_shock_waves{
margin-top: 550px;
width: 1056px;
height: auto;
color: rgb(255, 255, 255);
font-family: Jost;
font-size: 55px;
font-weight: 300;
line-height: 79px;
letter-spacing: 0%;
text-align: left;
}



.supernova_remnant_in_the_sails{
width: 1488px;
height: 720px;
background-image: url(supernova_remnant_in_the_sails.png);
opacity: 0;
}


.nebula_created_by_shock_waves_caption{
margin-top: 23px;
width: 518px;
height: auto;
color: rgba(255, 255, 255, 0.5);
font-family: Alegreya Sans;
font-style: italic;
font-size: 30px;
font-weight: 300;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
opacity: 0;
}


.nebula_created_by_shock_waves_information{
margin-top: 113px;
width: 1533px;
height: auto;
color: rgb(255, 255, 255);
font-family: Jost;
font-size: 35px;
font-weight: 300;
line-height: 51px;
letter-spacing: 0%;
text-align: left;
opacity: 0;
}


.section_4{
width: 100%;
height: 3200px;
background: black;
}

.test_5{
display: flex;
justify-content: flex-start;
flex-direction: column;
flex-wrap: wrap;
margin-left: 5%;
margin-right: 3%;
    }



.interesting_facts{
margin-top: 800px;
width: 577px;
height: auto;
color: rgb(255, 255, 255);
font-family: Jost;
font-size: 70px;
font-weight: 300;
line-height: 101px;
letter-spacing: 0%;
text-align: left;
opacity: 0;
}





.interesting_fact_1{
margin-top: 144px;
width: 1016px;
height: auto;
color: rgb(255, 255, 255);
font-family: Jost;
font-size: 35px;
font-weight: 300;
line-height: 51px;
letter-spacing: 0%;
text-align: left;
opacity: 0;
}



.interesting_fact_2{
margin-top: 40px;
width: 1600px;
height: auto;
color: rgb(255, 255, 255);
font-family: Jost;
font-size: 35px;
font-weight: 300;
line-height: 51px;
letter-spacing: 0%;
text-align: left;
opacity: 0;
}



.interesting_fact_3{
margin-top: 40px;
height: auto;
color: rgb(255, 255, 255);
font-family: Jost;
font-size: 35px;
font-weight: 300;
line-height: 51px;
letter-spacing: 0%;
text-align: left;
opacity: 0;


}


.test_7{
  margin-top: 100px;
  display: flex;
  width: 50%;
  margin-left: 5%;
  
}

.test_9{
  margin-top: 0px;
  display: flex;
  width: 50%;
  margin-left: 5%;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.test_10{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  align-items: center;
}

.interesting_fact_4{
margin-top: 20px;
height: auto;
color: rgb(255, 255, 255);
font-family: Jost;
font-size: 35px;
font-weight: 300;
line-height: 51px;
letter-spacing: 0%;
text-align: left;
opacity: 0;

}


.interesting_fact_5{
width: 846px;
height: auto;
margin-top: -60px;
color: rgb(255, 255, 255);
font-family: Jost;
font-size: 35px;
font-weight: 300;
line-height: 51px;
letter-spacing: 0%;
text-align: left;
opacity: 0;
}


.boomerang_nebula{
margin-top: -20px;
margin-left: 50px;
width: 685px;
height: 634px;
background-image: url(boomerang_nebula.png);
opacity: 0;
}

.boomerang_nebula_caption{
margin-left: 100px;
width: 267px;
height: auto;
color: rgba(255, 255, 255, 0.5);
font-family: Alegreya Sans;
font-style: italic;
font-size: 30px;
font-weight: 300;
line-height: 31px;
letter-spacing: 0%;
text-align: left;
opacity: 0;
}




.interesting_fact_6{
margin-top: 135px;
margin-left: 80px;
width: 687px;
height: auto;
color: rgb(255, 255, 255);
font-family: Jost;
font-size: 35px;
font-weight: 300;
line-height: 51px;
letter-spacing: 0%;
text-align: left;
opacity: 0;
}


.tarantula_Nebula{
margin-top: 150px;
width: 970px;
height: 577px;
background-image: url(tarantula_Nebula.png);
opacity: 0;
}


.tarantula_Nebula_caption{
margin-top: -5px;
width: 261px;
height: auto;
color: rgba(255, 255, 255, 0.5);
font-family: Alegreya Sans;
font-style: italic;
font-size: 30px;
font-weight: 300;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
opacity: 0;
}




.test_6{
margin-top: 145px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
width: 50%;
align-items: center;
margin-left: 2.5%;


}


.video{
pointer-events: none;
}

.video-bg {
height: 100vh;
width: 100%;
overflow: hidden;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

.video-bg video {
position: absolute;
top: 0;
left: 0;
z-index: 1;
width: 100%;
height: 100vh;
object-fit: cover;
}


.effects {
position: absolute;
object-fit: cover;
top: 0;
left: 0;
z-index: 2;
width: 100%;
height: 100vh;
background-color: rgba(0,0,0,0.1);
}


/* Анимации */



.anime_theme{
animation: myAnim_theme 2s ease-out 0s 1 alternate forwards;
}

@keyframes myAnim_theme {
0% {
  opacity: 0;
  transform: translateY(-32%);
}

100% {
  opacity: 1;
  transform: translateY(0);
}
}



.anime{
  animation: Anime 1s ease-out 0s  1 alternate forwards;
  }
    
    @keyframes Anime {
      0% {
          opacity: 0;
          transform: translateY(50%);
      }
  
      100% {
          opacity: 1;
      }
  }


  .anime_2{
    animation: Anime_2 1s ease 0s  1 alternate forwards;
    }
      
      @keyframes Anime_2 {
        0% {
            opacity: 0;
            transform: translateY(100%);
        }
    
        100% {
            opacity: 1;
        }
    }


    .anime_3{
      animation: Anime_3 0.7s ease-out 0s 1 alternate forwards;
      }
      
      @keyframes Anime_3 {
      0% {
        opacity: 0;
      }
      
      100% {
        opacity: 1;
        transform: translateY(25px);
      }
      }

    .anime_4{
      animation: Anime_4 1.5s ease-out 0s 1 alternate forwards;
      }
      
      @keyframes Anime_4 {
      0% {
        opacity: 0;
        transform: translateY(-75px);
      }
      
      100% {
        opacity: 1;
        transform: translateY(0);
      }
      }   
    



      .anime_5{
      animation: Anime_5 1s ease 0s 1 normal forwards;
      }

      @keyframes Anime_5 {
        0% {
          transform: rotate(0);
          opacity: 0;
        }
      
        100% {
          transform: rotate(360deg);
          opacity: 1;
        }
      }


      .anime_6{
        animation: Anime_6 2s ease 0s 1 normal forwards;
      }

      @keyframes Anime_6 {
        0% {
          opacity: 0;
          transform: translateX(-50px);
        }
      
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }


      
      .anime_7{
        animation: Anime_7 2s ease 0s 1 normal forwards;
      }

      @keyframes Anime_7 {
        0% {
          opacity: 0;
          transform: translateX(50px);
        }
      
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }

      .anime_8{
        animation: Anime_8 1s ease 0s 1 normal forwards;
      }

      @keyframes Anime_8 {
        0% {
          opacity: 0;
          transform: translateX(50px);
        }
      
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }

      
      .anime_9{
        animation: anime_9 1s ease 0s 1 normal forwards;
      }

      @keyframes anime_9 {
          0% {
            transform: scale(0.7);
          }
        
          100% {
            transform: scale(1.15);
          }
        }


        .anime_10{
          animation: anime_10 1s ease 0s 1 normal forwards;
        }
  
        @keyframes anime_10 {
            0% {
              transform: scale(0.7);
            }
          
            100% {
              transform: scale(1.15);
            }
          }



  /* Адаптация */



@media screen and (min-width: 2500px) {

  /* Секция 1 */
  .theme{
    font-size: 325px;
    top: 65%;

  }

 } 




@media screen and (max-width: 1850px) {

  .theme{
    font-size: 120px;

  }

  
    
       .section_2{
        width: 100%;
        height: 720px;
        background-color: black;
        
        }
    
    
    .introduction_1{
    margin-left: 50px;
    margin-top: 100px;
    width: 563px;
    height: auto;
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0;
    
    }
    
    
    
    .introduction_2{
    padding-top: 135px;
    width: 541px;
    height: auto;
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0;
    }
    
    
    .section_3{
    width: 100%px;
    height: 3783px;
    background: black;
    }
    
   
    
    .type_nebulat{
    margin-top: 350px;
    margin-left: 30px;
    margin-bottom: -75px;
    width: 434px;
    height: auto;
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 56px;
    font-weight: 300;
    line-height: 101px;
    letter-spacing: 0%;
    text-align: left;
    }
    
    
    
    .test_3{
      margin-top: 145px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 50%;
      align-items: center;
      
    
    }
    
    .test_8{
      padding-top: 80px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 50%;
      align-items: center;
    }
    
    
    
    
    .control_1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    }
    
    .dark_nebulat{
    margin-bottom: 52px;
    margin-top: 10px;
    width: 339px;
    height: 55px;
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 40px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0;
    }
    
    
    
    
    .reflection_nebulat{
    margin-bottom: 52px;
    padding-top: 20px;
    margin-left: 15px;
    width: 481px;
    height: auto;
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 40px;
    font-weight: 300;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0;
    }
    
    
    
    .dark_nebula{
    width: 554px;
    height: 315px;
    background-image: url(dark_nebula1850.png);
    opacity: 0;
    
    }
    
    .reflective_nebula{
    width: 554px;
    height: 315px;
    background-image: url(reflective_nebula1850.png);
    opacity: 0;
    
    }
    
    
    .dark_nebula_caption{
    width: 251px;
    height: auto;
    margin-top: 12px;
    margin-left: 30px;
    color: rgba(255, 255, 255, 0.5);
    font-family: Alegreya Sans;
    font-style: italic;
    font-size: 18px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0;
    }
    
    
    
    
    .reflective_nebula_caption_1{
    margin-left: 35px;
    margin-top: 12px;
    width: 156px;
    height: auto;color: rgba(255, 255, 255, 0.5);
    font-family: Alegreya Sans;
    font-style: italic;
    font-size: 18px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0;
    }
    
    
    .reflective_nebula_caption_2{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left; 
    opacity: 0;
    }
    
    .dark_nebula_information{
    margin-top: 63px;
    width: 525px;
    height: auto;
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 27px;
    font-weight: 300;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0;
    }
    
    .reflection_nebula_information{
    margin-top: 55px;
    width: 482px;
    height: auto;
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 27px;
    font-weight: 300;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0;
    }
    
    
    .emission_nebulat{
    margin-top: 250px;
    margin-bottom: -75px;
    width: 509px;
    height: auto;
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 44px;
    font-weight: 300;
    line-height: 79px;
    letter-spacing: 0%;
    text-align: left;
    
    }
    
    
    .emission_nebula_of_Keel{
    width: 554px;
    height: 315px;
    background-image: url(emission_nebula_of_Keel1850.png);
    opacity: 0;
    }
    
    
    
    
    .emission_nebula_butterfly{
    width: 554px;
    height: 315px;
    background-image: url(emission_nebula_butterfly1850.png);
    opacity: 0;
    }
    
    
    .emission_nebula_of_Keel_caption{
    margin-top: 12px;
    margin-left: 30px;
    width: 170px;
    height: auto;
    color: rgba(255, 255, 255, 0.5);
    font-family: Alegreya Sans;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0;
    }
    
    
    .emission_nebula_butterfly_caption{
    margin-left: 60px;
    margin-top: 12px;
    width: 192px;
    height: auto;
    color: rgba(255, 255, 255, 0.5);
    font-family: Alegreya Sans;
    font-style: italic;
    font-size: 18px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0;
    }
    
    
    .emission_nebula_of_Keel_information{
    margin-top: 63px;
    width: 464px;
    height: auto;
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 27px;
    font-weight: 300;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0;
    }
    
    
    .emission_nebula_butterfly_information{
    margin-top: 63px;
    width: 535px;
    height: auto;
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 27px;
    font-weight: 300;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0;
    }
    
    .test_4{
      margin-top: 145px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      align-items: center;
    }
    
    
    .nebula_created_by_shock_waves{
    margin-top: 250px;
    margin-bottom: -50px;
    width: 844px;
    height: auto;
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 44px;
    font-weight: 300;
    line-height: 79px;
    letter-spacing: 0%;
    text-align: left;
    }
    
    
    
    .supernova_remnant_in_the_sails{
    width: 1129px;
    height: 572px;
    background-image: url(supernova_remnant_in_the_sails1850.png);
    opacity: 0;
    }
    
    
    .nebula_created_by_shock_waves_caption{
    margin-top: 12px;
    margin-left: 90px;
    width: 471px;
    height: auto;
    color: rgba(255, 255, 255, 0.5);
    font-family: Alegreya Sans;
    font-style: italic;
    font-size: 22px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0;
    }
    
    
    .nebula_created_by_shock_waves_information{
    margin-top: 63px;
    width: 1123px;
    height: auto;
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 27px;
    font-weight: 300;
    line-height: 44px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0;
    }
    
    
    .section_4{
    width: 100%;
    height: 2700px;
    background: black;
    }
    
    .test_5{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 3%;
        }
    
    
    
    .interesting_facts{
    margin-top: 650px;
    width: 460px;
    height: auto;
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 56px;
    font-weight: 300;
    line-height: 101px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0;
    }
    
    
    
    
    
    .interesting_fact_1{
    margin-top: 144px;
    width: 765px;
    height: auto;
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 27px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0;
    }
    
    
    
    .interesting_fact_2{
    margin-top: 40px;
    width: 1076px;
    height: auto;
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 27px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0;
    }
    
    
    
    .interesting_fact_3{
    margin-top: 40px;
    width: 1030px;
    height: auto;
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 27px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0;
    
    
    }
    
    
    .test_7{
      margin-top: 100px;
      display: flex;
      width: 50%;
      margin-left: 5%;
      
    }
    
    .test_9{
      margin-top: -50px;
      display: flex;
      width: 50%;
      margin-left: 5%;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
    }
    
    .test_10{
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 50%;
      align-items: center;
    }
    
    .interesting_fact_4{
    margin-top: 20px;
    width: 1147;
    height: auto;
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 27px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0;
    
    }
    
    
    .interesting_fact_5{
    width: 640px;
    height: auto;
    margin-top: -60px;
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 27px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0;
    }
    
    
    .boomerang_nebula{
    margin-top: -30px;
    margin-left: 50px;
    width: 446px;
    height: 453px;
    background-image: url(boomerang_nebula1850.png);
    opacity: 0;
    }
    
    .boomerang_nebula_caption{
    margin-left: 100px;
    margin-top: -12px;
    width: 194px;
    height: auto;
    color: rgba(255, 255, 255, 0.5);
    font-family: Alegreya Sans;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
    line-height: 31px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0;
    }
    
    
    
    
    .interesting_fact_6{
    margin-top: 50px;
    margin-left: 40px;
    width: 550px;
    height: auto;
    color: rgb(255, 255, 255);
    font-family: Jost;
    font-size: 27px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0;
    }
    
    
    .tarantula_Nebula{
    margin-top: 135px;
    width: 552px;
    height: 341px;
    background-image: url(tarantula_Nebula1850.png);
    opacity: 0;
    }
    
    
    .tarantula_Nebula_caption{
    margin-top: -5px;
    margin-left: 70px;
    width: 261px;
    height: auto;
    color: rgba(255, 255, 255, 0.5);
    font-family: Alegreya Sans;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0;
    }
    
    
    
    
    .test_6{
    margin-top: 145px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    margin-left: 2.5%;
    
    
    } 





    }
















    

@media screen and (max-width: 992px) {
      .theme{
        font-size: 80px;
      }
      }


@media screen and (max-width: 768px) {
  .theme{
    font-size: 60px;
  }
  }


@media screen and (max-width: 576px) {
  .theme{
    font-size: 40px;
  }
  }


@media screen and (max-width: 360px) {
  .theme{
    font-size: 20px;
  }
  }


  

/* 111111111111111111111111111111111111111111111111111111111111111111 */























